.mt-1{
    margin-top:1%;
}
.mt-2{
    margin-top:2%;
}
.mt-3{
    margin-top:3%;
}
.mt-4{
    margin-top:4%;
}
.mt-5{
    margin-top:5%;
}
.mt-6{
    margin-top:6%;
}
.mt-7{
    margin-top:7%;
}

.pt-1{
    padding-top:1%;
}
.pt-2{
    padding-top:2%;
}
.pt-3{
    padding-top:3%;
}
.pt-4{
    padding-top:4%;
}
.pt-5{
    padding-top:5%;
}
.pt-6{
    padding-top:6%;
}
.pt-7{
    padding-top:7%;
}