.white-box{
    background-color:white;
    padding:2%;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(122,122,122,1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(122,122,122,1);
    box-shadow: 0px 0px 6px 0px rgba(122,122,122,1);
}

.title{
    color:#444;
    text-transform: uppercase;
    text-align: center;
    border-bottom:1px solid #e1e1e1;
    padding-bottom: 1%;
}
